// Place all the styles related to the jewels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div[class*="col-"] {
  padding-right: 0;
  padding-left:  0;
}

.form-group {
  padding-right : 15px;
  padding-left  : 15px;
}